<p id="notice"><%= notice %></p>

<h1>Listing Commots</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commots.each do |commot| %>
      <tr>
        <td><%= commot.post_id %></td>
        <td><%= commot.body %></td>
        <td><%= link_to 'Show', commot %></td>
        <td><%= link_to 'Edit', edit_commot_path(commot) %></td>
        <td><%= link_to 'Destroy', commot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commot', new_commot_path %>
