<p id="notice"><%= notice %></p>

<p>
  <strong>Blocky1:</strong>
  <%= @user.blocky1 %>
</p>

<p>
  <strong>Blocky2:</strong>
  <%= @user.blocky2 %>
</p>

<p>
  <strong>Blocky3:</strong>
  <%= @user.blocky3 %>
</p>

<p>
  <strong>Blocky4:</strong>
  <%= @user.blocky4 %>
</p>

<p>
  <strong>Blocky5:</strong>
  <%= @user.blocky5 %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
