<p id="notice"><%= notice %></p>

<div class = "small-12 columns text-right">
	<%= link_to "Random Question", :get_random_question, :class => "button", :as => :get_random_question %>
</div> 

<div class = "small-12 columns">
<h5>
  <strong>Question:</strong>
  <%= @post.question %>
</h5>
<% if @post.image_uno_file_size != nil %>
<h5>
  <strong>Image 1:</strong>
  <%= image_tag @post.image_uno.url(:large) %>
</h5>
<% end %>
<% if @post.image_dos_file_size != nil%>
<h5>
  <strong>Image 2:</strong>
  <%= image_tag @post.image_dos.url(:large) %>
</h5>
<% end %>
<% if @post.image_tres_file_size != nil%>
<h5>
  <strong>Image 3:</strong>
  <%= image_tag @post.image_tres.url(:large) %>
</h5>
<% end %>
<% if @post.image_quatro_file_size != nil%>
<h5>
  <strong>Image 4:</strong>
  <%= image_tag @post.image_quatro.url(:large) %>
</h5>
<% end %>

<!-- 
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> -->

</div>

<div class = "small-12 columns">
<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#panel1b">Answer >> </a>
    <div id="panel1b" class="content">
		<%= @post.body %>
    </div>
  </dd>
</dl>
</div>

<div class = "small-12 columns home_link">
	<%= button_to 'Home', root_path, :class => "button info", :method => :get %>
</div>
