<p id="notice"><%= notice %></p>

<div class="row">
      <div class="small-12 columns">
        <h1>What Do I See?</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="small-12 columns">
<% if @post.image_uno_file_size != nil %>
  <%= image_tag @post.image_uno.url(:large) %>
<% end %>
<% if @post.image_dos_file_size != nil%>
  <%= image_tag @post.image_dos.url(:large) %>
<% end %>
<% if @post.image_tres_file_size != nil%>
  <%= image_tag @post.image_tres.url(:large) %>
<% end %>
<% if @post.image_quatro_file_size != nil%>
  <%= image_tag @post.image_quatro.url(:large) %>
<% end %>
      </div>
    </div>

    <div class = "row answer text-right">
        <a class = "button" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Answer</a>
        <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
          <li><a href="#">Salivary Gland</a></li>
        </ul>
    </div>




<div class = "row">
    <div class = "small-12 columns text-center">
      <br/><br/>
  <form method="post">
  <p><input class = "button info"type="button" name="B1" value="What Else Do I See??" onclick="randomlink()"></p> </form>
  </div>
  <div class = "small-12 columns text-center">
    <p><%= link_to "Ahh I need to study!", root_url %></p>
  </div>
</div>