 

<div class="row">
      <div class="small-12 columns">
        <h1>What Do I See?</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="small-12 columns">
<% if @post.image_uno_file_size != nil %>
  <%= image_tag @post.image_uno.url(:large) %>
<% end %>
<% if @post.image_dos_file_size != nil%>
  <%= image_tag @post.image_dos.url(:large) %>
<% end %>
<% if @post.image_tres_file_size != nil%>
  <%= image_tag @post.image_tres.url(:large) %>
<% end %>
<% if @post.image_quatro_file_size != nil%>
  <%= image_tag @post.image_quatro.url(:large) %>
<% end %>
      </div>
    </div>

    <br/><br/>

    <div class = "row">
      <div class = "small-6 columns text-center small-centered">
        <a class = "button active2" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Answer</a>
        <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
          <li class = "active2"><a href="#" class = "active2"><span class = "active2"><%= @post.label %></span></a></li>
        </ul>
      </div>
    </div>




<div class = "row">
    <div class = "small-12 columns text-center">
      <br/><br/>
      <%= link_to "Random Question", :get_random_question, :class => "button", :as => :get_random_question, data: { no_turbolink: true } %>
      <br/><br/>
  </div>
  <div class = "small-12 columns text-center">
    <p><%= link_to "Ahh I need to study!", root_url %></p>
  </div>
</div>