<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title> URMC Histology</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class = "row">
      <div class ="small-12 medium-8 medium-centered columns">
        <%= render 'application/alerts' %>
      </div>
    </div>




          <div class = "heading show-for-medium-up" id = "heading">
            <div class = "small-6 medium-6 columns">
              <!-- <div class = "logo">
                <a href="/">
                  <%= image_tag "brandclub_logo_white.png" %>
                </a>
              </div> -->
            </div>


            <div class = "small-6 medium-6 columns devise_links text-right fixed">
              <% if user_signed_in? %>

              <%= button_to "Logout", destroy_user_session_path, :class => "button alt2 right",  method: :delete %>
              <% if current_page?(root_url) %>
                <%= link_to "Random Question", :get_random_question, :class => "button", :as => :get_random_question, data: { no_turbolink: true } %>
              <% end %>
              <% else %>

              <%= button_to "Login", new_user_session_path, :class => "button alt right",  method: :get %>
              <%= button_to "Sign Up", new_user_registration_path, :class => "button alt2 right",  method: :get %>


              <% end %>
            </div>
          </div>
          <!-- END NAVIGATION -->








    <div class = "row">
      <div class = "small-12 columns">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
